<!DOCTYPE html>
<html lang="en" xmlns:j="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="page-recent-link-list.css">
</head>
<body>
<div class="component recent-link-list">
    <div class="component__title" j:text="title">{{i18n('page.recentPages')}}</div>
    <div class="component__body">
        <ul class="recent-link-list__list">
            <li class="recent-link-list__item" j:for="page:pages">
                <a j:href="page.path" class="recent-link-list__item-link" j:text="page.title"></a>

                <div class="recent-link-list__item-time">
                    <span j:text="format(page.createdTime,'yyyy-MM-dd hh:mm')"></span>
                </div>
            </li>
        </ul>
    </div>
</div>
</body>
</html>