<!doctype html>
<html lang="en-US" xmlns:j="http://www.w3.org/1999/xhtml">
    <head>
    </head>
    <body>
        <div class="component addthis-share-buttons">
            <div class="component__title" j:innerText="title" j:if="title != null"></div>
            <div class="component__body">
                <div class="addthis_inline_share_toolbox"></div>
                <script type="text/javascript" j:src="'//s7.addthis.com/js/300/addthis_widget.js#pubid=' + id" async></script>
            </div>
        </div>
    </body>
</html>