.sited-file-directory-handler {
    display: none;
    width: 0;
    height: 0;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.sited-file-directory {
    position: fixed;
    width: 500px;
    height: 50px;
    bottom: 0;
    right: 38px;
    overflow: hidden;
    font-size: 14px;
    line-height: 1;
    background: #FFFFFF;
    box-shadow: 0 12px 12px 0 rgba(0, 0, 0, 0.06);
    transition: all 0.4s ease;
    transform: translate3d(0, 100%, 0);
}

.sited-file-directory.expand {
    height: 460px;
}

.sited-file-directory.show {
    bottom: 38px;
    transform: translate3d(0, 0, 0);
}

.sited-file-directory__head {
    position: relative;
    line-height: 50px;
    height: 50px;
    overflow: hidden;
    padding: 0 20px;
    text-align: right;
    border-bottom: 1px solid #e8e8e8;
}

.sited-file-directory__title {
    position: absolute;
    left: 20px;
    top: 0;
    text-align: left;
    color: #666;
    transition: all 0.2s ease 0.4s;
    transform: translate3d(0, 0, 0);
}

.sited-file-directory__head-button {
    display: inline-block;
    color: #666;
    text-decoration: none;
    padding: 0 15px;
}

.sited-file-directory__head .sited-file-directory__close {
    margin-right: -15px;
}

.sited-file-directory__body {
    height: 350px;
    position: relative;
    padding: 0 20px;
    border-bottom: 1px solid #e5e5e5;
    overflow: hidden;
}

.sited-file-directory__table-body-container {
    position: relative;
    height: 350px;
    overflow: auto;
}

.sited-file-directory__row {
    padding-top: 15px;
    position: relative;
    height: 44px;
}

.sited-file-directory__col {
    float: left;
    max-width: 300px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0;
    vertical-align: top;
}

.sited-file-directory__foot {
    text-align: right;
    padding: 20px;
}

.sited-file-directory__col label {
    margin-right: 20px;
    width: 60px;
    display: inline-block;
}

.sited-file-directory-handler {
    display: none;
    width: 0;
    height: 0;
    overflow: hidden;
    margin: 0;
    padding: 0;
}