<!doctype html>
<html xmlns:j="http://www.w3.org/1999/xhtml" lang="en-US">
<head>
    <meta charset="UTF-8">
    <title j:text="page.title() + ' - ' + app.name()">page title</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" j:content="join(page.keywords(), ',')"/>
    <meta name="description" j:content="page.description()"/>
    <!-- build:js ../static/js/respond.min.js -->
    <script src="../node_modules/Respond.js/dest/respond.min.js"></script>
    <!-- endbuild -->
    <!-- build:css ../static/css/theme.css -->
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <!-- endbuild -->
    <!-- build:css ../static/css/lib.css -->
    <link rel="stylesheet" href="../node_modules/font-awesome/css/font-awesome.min.css">
    <!-- endbuild -->
</head>
<body>

<div class="container">
    <j:forget-password-form/>
</div>

<!-- build:js ../static/js/lib.js -->
<script src="../node_modules/jquery/dist/jquery.min.js"></script>
<script src="../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- endbuild -->

</body>
</html>