<!DOCTYPE html>
<html xmlns:j="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <link rel="stylesheet" href="login-form.css">
    <script src="login-form.js"></script>
</head>
<body>
<div class="form-container">
    <div class="user-login__logo">
        <img class="user-login__logo-image" j:src="app.imageURL()" alt="">
    </div>
    <form id="login-form" onsubmit="return false;" class="user-login__form">
        <div class="user-login__input-wrap">
            <input class="user-login__input" name="username" placeholder="Email">
        </div>
        <div class="user-login__input-wrap">
            <input class="user-login__input" type="password" name="password" placeholder="Password">
        </div>
        <j:captcha></j:captcha>
        <a class="btn btn-primary btn-submit user-login__button" id="submit" j:text="i18n('user.signIn')">Login in</a>
    </form>
    <div class="user-login__link-container">
        <a href="/user/password/forget" class="text-primary user-login__link" j:text="i18n('user.forgetYourPassword')">Forget Password?</a>
    </div>
    <div class="user-login__separator">
        <div class="user-login__separator-text">or</div>
    </div>

    <a class="btn btn-default user-login__button" href="/user/register" j:text="i18n('user.signUp')">Register</a>

    <!--<div class="user-login__social">-->
        <!--<a href="" class="user-login__social-link"><i class="fa fa-google-plus-square"></i></a>-->
        <!--<a href="" class="user-login__social-link"><i class="fa fa-facebook-square"></i></a>-->
        <!--<a href="" class="user-login__social-link"><i class="fa fa-twitter-square"></i></a>-->
        <!--<a href="" class="user-login__social-link"><i class="fa fa-github-square"></i></a>-->
    <!--</div>-->
</div>

</body>
</html>