<!doctype html>
<html lang="en-US" xmlns:j="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="UTF-8">
        <title></title>
        <script type="text/javascript" src="../static/header.js"></script>
        <link rel="stylesheet" type="text/css" href="../static/header.css"/>
    </head>
    <body>
        <ul>
            <li j:class="selected == 'home'? 'active': ''" class="item">Home</li>
            <li j:class="selected == 'about'? 'active': ''" class="item">About</li>
        </ul>
    </body>
</html>