.page-card {
    padding: 15px;
    background: #fcfcfc;
}

.page-card__preview {
    background: #fff;
}

.page-card__preview-header {
    padding: 5px 15px;
}

.page-card__preview-title {
    display: inline-block;
    font-size: 1.2em;
    padding: 10px 0;
    border-bottom: 4px solid #3498db;
}

.page-card__preview-body {
    padding: 10px 15px;
}