.page-variable {
    margin-bottom: 15px;
}

.page-variable__name {
    display: inline-block;
    width: 200px;
    margin-right: 5px;
}

.page-variable__type {
    display: inline-block;
    width: 200px;
    margin-right: 5px;
}

.page-variable__value {
    display: inline-block;
    width: 200px;
    margin-right: 5px;
}