.react-grid-layout {}

.react-grid-placeholder {
    background: #ccc !important;
}

.page-grid-editor {}

.page-grid-editor__header {
    box-sizing: border-box;
}

.page-grid-editor__header .el-menu {
    background: #FFF;
}

.page-grid-editor__header .el-menu-item {
    border-bottom: 1px solid #DDD;
    text-align: left;
    position: relative;
    padding-right: 15px;
}

.page-grid-editor__header .el-menu-item .fa {
    position: absolute;
    right: 15px;
    top: 20px;
}

.page-grid-editor__body .el-radio-group {
    margin-bottom: 20px;
}

.page-grid-editor__body .el-card__body {
    padding: 0 !important;
    min-height: 600px;
}



.page .el-card.page-grid-editor__card--xs {
    position: relative;
    max-width: 440px;
    margin: auto;
    padding: 107px 29px 112px 31px !important;
    background: url("./mobile-wireframe-1.png") no-repeat 0 360px;
    background-size: 100% calc(100% - 667px);
    border: 0;
}

.page-grid-editor__card--xs .el-card__body {
    position: relative;
    z-index: 1;
}

.page-grid-editor__card--xs::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 360px;
    background: url("./mobile-wireframe.png") no-repeat;
    background-size: 100% auto;
}


.page-grid-editor__card--xs::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 307px;
    background: url("./mobile-wireframe.png") no-repeat bottom;
    background-size: 100% auto;
}

.page-grid-editor__card--sm {
    max-width: 768px;
    border: 1px solid #e5e5e5;
    margin: auto;
}

.page-grid-editor__grid {
    position: relative;
    border: 1px solid #e5e5e5;
    background: #fff;
    /* transform: translate(0px, 0px) !important; */
}

.page-grid-editor__body .react-grid-item>.react-resizable-handle {
    width: 15px;
    height: 15px;
}

.page-grid-editor__ruler {
    position: absolute;
    top: 40px;
    left: 0;
    right: 0;
    height: 1px;
    background: red;
    z-index: 1;
}

.page-grid-editor__ruler::before {
    content: attr(data-width);
    position: absolute;
    top: -10px;
    left: 50px;
    font-size: 16px;
    line-height: 20px;
    padding: 0 5px;
    color: #333;
    background: #fff;
    z-index: 1;
}

.react-grid-item.react-draggable-dragging {
    background: rgba(255, 255, 255, 0.5);
}

.page-grid-editor__grid-header {
    position: absolute;
    height: 24px;
    line-height: 24px;
    background: #f4f4f4;
    border-bottom: 1px solid #e5e5e5;
    text-align: right;
    top: -24px;
    right: 0;
    transform: translate3d(0, 100%, 0);
    transition: all 0.2s ease;
    z-index: -1;
    cursor: move;
}

.page-grid-editor__grid:hover .page-grid-editor__grid-header {
    transform: translate3d(0, 0, 0);
    box-shadow: 0 -5px 10px 0 rgba(0, 0, 0, 0.1);
}

.page-grid-editor__grid-header-title {
    float: left;
    margin-left: 15px;
}

.page-grid-editor__grid-operation {
    font-size: 16px;
    color: #999;
}

.el-button--text+.el-button--text.page-grid-editor__grid-operation {
    border: 0;
}

.page-grid-editor__grid-body .el-form {
    padding: 15px;
}


.page-grid-editor__grid-body,
.page-grid-editor__grid-body :focus {
    outline: none;
    background: #fff;
}