* {
    box-sizing: border-box;
}

div {
    background: url(../img/1.jpg);
}

*:active,
*:focus {
    outline: none;
}

[disabled] {
    opacity: 0.5;
}

svg:not(:root) {
    margin-bottom: -8px;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    color: #3498db;
}

input, textarea {
    border: 1px solid #fff;
    transition: all 0.2s ease;
}

input:focus,
textarea:focus {
    outline: none;
    border: 1px solid #3498db;
}

input[type=checkbox] {
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: middle;
    border: 1px solid #e5e5e5;
    border-radius: 2px;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: #fff url("../img/icon-checked.png") no-repeat center;
    background-size: 80%;
    transition: border 0.1s ease, background-color 0.1s ease;
}

input[type=checkbox], input[type=checkbox]:focus {
    outline: none;
}

input[type=checkbox]:checked {
    border-color: #3498db;
    background-color: #3498db;
}

select {
    display: inline-block;
    height: 46px;
    line-height: 44px;
    padding: 0 40px 0 20px;
    font-size: 14px;
    vertical-align: middle;
    border: 1px solid #e5e5e5;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-size: 5px 13px;
    transition: border 0.2s ease, background-color 0.2s ease;
}

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

.text-primary {
    color: #3498db;
}

.sited__form {
    padding: 26px 20px;
}

.sited__form input,
.sited__form textarea {
    background: #fafafa;
    width: 100%;
    min-height: 44px;
    font-size: 13px;
    line-height: 42px;
    padding: 0 20px;
    border: 1px solid #fafafa;
}

.sited__form input:focus,
.sited__form textarea:focus {
    border: 1px solid #3498db;
}

.sited__form input.error,
.sited__form textarea.error {
    border: 1px solid #ff331f;
}

.sited__form input.error:focus,
.sited__form textarea.error:focus {
    border: 1px solid #3498db;
}

.sited__form textarea {
    resize: none;
}

.container {
    position: relative;
    max-width: 1148px;
    margin: 0 auto;
}

.container::before,
.container::after {
    content: "";
    display: block;
    clear: both;
}

.container-title {
    text-align: center;
    font-size: 18px;
    line-height: 1;
    width: 100%;
}

.container-description {
    text-align: center;
    font-size: 12px;
    line-height: 1;
    margin: 10px 0 30px;
    opacity: 0.6;
    padding: 0 20px;
}

.banner-container {
    padding: 53px 0 8px;
    position: relative;
    color: #fff;
    text-align: center;
    background: #3497db;
    background: linear-gradient(to right top, #3497db, #1f43b3);
}

.banner-container-background {
    position: relative;
    width: 100%;
    background: #3498db;
    z-index: -1;
}

.banner-container-background-desktop {
    display: none;
    background: #fff;
}

.btn {
    display: inline-block;
    width: 100%;
    height: 46px;
    line-height: 44px;
    font-size: 15px;
    text-align: center;
    border: 1px solid #e5e5e5;
    border-radius: 23px;
    transition: all 0.2s ease, width 0.05s ease;
    cursor: pointer;
    color: #000;
    background: #fafafa;
}

.btn.btn-text {
    border-color: transparent;
    background: none;
}

.btn-primary {
    color: #fff;
    background: #3498db;
    border-color: #3498db;
}

.btn-dismiss {
    border-color: #fafafa;
    color: #666;
}

.btn-primary.btn-text {
    color: #3498db;
}

.btn:hover,
.btn:focus {
    text-decoration: none;
    outline: none;
}

.btn:hover {
    color: #fff;
    background: #50afeb;
    border: 1px solid #50afeb;
}

.btn.btn-text:hover {
    color: #50afeb;
    background: none;
    border: 1px solid transparent;
}

.btn.btn-dismiss:hover {
    color: #666;
    border-color: #fafafa;
    background: #fafafa;
    opacity: 0.6;
}

.btn.loading {
    width: 46px;
    border: 4px solid #50afeb;
    border-top-color: #fff;
    -webkit-animation: circle 1s linear infinite;
    -o-animation: circle 1s linear infinite;
    -moz-animation: circle 1s linear infinite;
    -ms-animation: circle 1s linear infinite;
    animation: circle 1s linear infinite;
    background: #fff;
    border-radius: 50%;
    overflow: hidden;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.page-content h1 {
    font-size: 24px;
    line-height: 32px;
    font-weight: normal;
}

.page-content h2 {
    font-size: 16px;
    line-height: 27px;
}

.page-content p {
    color: #666;
    line-height: 27px;
}

.page-content img {
    width: 100%;
}

.page-content code {
}

.sited-alert__container {
    position: fixed;
    z-index: 10000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 200px 15px 0;
    text-align: center;
    background: rgba(0, 0, 0, 0.2);
}

.sited-alert__content {
    display: inline-block;
    padding: 35px 30px 30px;
    width: 100%;
    background: #fff;
    text-align: center;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.sited-alert__text {
    line-height: 28px;
}

.sited-alert__btn {
    width: 128px;
    display: inline-block;
    margin: 23px auto 0;
    padding: 0 40px;
    height: 42px;
    line-height: 40px;
    border: 1px solid #ddd;
}

.sited-alert__btn:active {
    box-shadow: inset 0 0 5px 0 rgba(0, 0, 0, 0.1);
}

.sited-alert__mask {
    content: "";
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -2;
}

.container-vertical-middle::before,
.container-vertical-middle::after {
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.container-vertical-middle > * {
    display: inline-block;
    vertical-align: middle;
}

table {
    width: 100%;
}

tr {
    height: 52px;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    transition: all 0.2s ease;
}

tr.stripped,
tr.stripped::before {
    background: #fafafa;
}

tr.no-bg {
    background: none;
}

th,
td {
    white-space: nowrap;
}

th.first-cell,
td.first-cell {
    padding-left: 20px;
}

th.last-cell,
td.last-cell {
    padding-right: 20px;
}

th {
    text-align: center;
    vertical-align: middle;
}

td.no-wrap,
th.no-wrap {
    white-space: nowrap;
}

@keyframes circle {
    0% {
        transform: rotate3d(0, 0, 0, 0deg);
    }
    100% {
        transform: rotate3d(0, 0, 1, 360deg);
    }
}

@-ms-keyframes circle {
    0% {
        transform: rotate3d(0, 0, 0, 0deg);
    }
    100% {
        transform: rotate3d(0, 0, 1, 360deg);
    }
}

@-webkit-keyframes circle {
    0% {
        transform: rotate3d(0, 0, 0, 0deg);
    }
    100% {
        transform: rotate3d(0, 0, 1, 360deg);
    }
}

@keyframes transformIcon {
    0% {
        transform: rotate3d(0, 0, 1, 0deg) scale3d(1, 1, 1);
    }
    50% {
        transform: rotate3d(0, 0, 1, 90deg) scale3d(0, 0, 1);
    }
    51% {
        transform: rotate3d(0, 0, 1, -90deg) scale3d(0, 0, 1);
    }
    100% {
        transform: rotate3d(0, 0, 1, 0deg) scale3d(1, 1, 1);
    }
}

@keyframes transformIconBack {
    0% {
        transform: rotate3d(0, 0, 1, 0deg) scale3d(1, 1, 1);

    }
    50% {
        transform: rotate3d(0, 0, 1, -90deg) scale3d(0, 0, 1);
    }
    51% {
        transform: rotate3d(0, 0, 1, 90deg) scale3d(0, 0, 1);
    }
    100% {
        transform: rotate3d(0, 0, 1, 0deg) scale3d(1, 1, 1);
    }
}

.error-page__page {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    text-align: center;
    white-space: nowrap;
}

.error-page__code {
    font-size: 200px;
}

.error-page__page::before {
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.error-page__container {
    display: inline-block;
    width: 100%;
    padding: 0 20px;
    vertical-align: middle;
}

.error-page__image {
    width: 100%;
}

.error-page__text {
    margin: 36px 0 40px;
    font-size: 18px;
    line-height: 25px;
    color: #999;
    white-space: normal;
}

@media (max-width: 425px) {
    .hidden-xs {
        display: none !important;
    }
}

@media (min-width: 425px) {
    .sited-alert__content {
        width: auto;
        min-width: 320px;
        max-width: 460px;
    }
}

@media (min-width: 768px) {
    .hidden-lg {
        display: none !important;
    }

    select {
        background-size: 8px 20px;
    }

    .sited__form {
        padding-top: 64px;
        padding-bottom: 30px;
    }

    .sited__form input {
        font-size: 14px;
        height: 46px;
        line-height: 44px;
    }

    .btn {
        width: 196px;
        max-width: 260px;
        height: 46px;
        line-height: 44px;
        border-radius: 23px;
        font-size: 18px;
    }

    .container-title {
        font-size: 24px;
    }

    .container-description {
        font-size: 16px;
        margin: 15px 0 44px;
    }

    .banner-container {
        width: 100%;
        padding: 77px 0 0;
    }

    .banner-container-background-mobile {
        display: none;
    }

    .banner-container-background-desktop {
        margin: -72px auto;
        display: block;
        width: 100%;
        height: 758px;
    }

    .error-page__image {
        width: 448px;
        height: 170px;
    }

    .error-page__button {
        padding-left: 20px;
        padding-right: 20px;
        margin: 0 10px;
    }

}
