::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #999;
}

::-moz-placeholder { /* Firefox 19+ */
    color: #999;
}

:-ms-input-placeholder { /* IE 10+ */
    color: #999;
}

:-moz-placeholder { /* Firefox 18- */
    color: #999;
}

ul,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

.more-i18n,
.reply-i18n,
.reply-content,
.submit-i18n,
.cancel-i18n {
    display: none;
}

.comment-container {
    margin-top: 10px;
    color: #333;
}

.user-comment {
    border-top: 1px solid #e6e8eb;
    font-size: 15px;
    line-height: 32px;
    margin-bottom: 25px;
}

.user-comment__title {
    float: left;
    font-size: 17px;
    line-height: 1;
    padding: 20px 0;
}

.user-comment__title::after {
    content: "";
    display: block;
    clear: both;
    margin-top: 10px;
    width: 37px;
    height: 3px;
    background: #3498db;
}

.user-comment-login {
    color: #3498db;
}

.user-comment-form {
    clear: both;
}

.user-comment-form:after {
    content: "";
    display: block;
    clear: both;
}

.user-comment-text, .user-reply-text {
    width: 100%;
    line-height: 23px;
    padding: 10px 15px;
    background: #fff;
    border: 1px solid #e5e5e5;
    resize: none;
    margin-bottom: 15px;
    transition: all 0.2s ease;
}

.user-comment-text:focus, .user-reply-text:focus {
    outline: none;
    background: #fff;
    border: 1px solid #3498db;
}

.user-comment-submit {
    font-size: 1em;
}

.comment {
    position: relative;
    margin-bottom: 16px;
}

.comment-author {
    position: relative;
    padding-left: 48px;
    height: 36px;
    margin-bottom: 5px;
}

.comment-author-avatar {
    position: absolute;
    top: 3px;
    left: 0;
    width: 30px;
    height: 30px;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
    overflow: hidden;
}

.comment-author-avatar img {
    display: block;
    width: 100%;
}

.comment-author-name {
    font-size: 15px;
    line-height: 18px;
}

.comment-author-date {
    font-size: 12px;
    line-height: 18px;
    color: #999;
}

.comment-content-text {
    position: relative;
    line-height: 24px;
    color: #666;
    overflow: hidden;
}

.comment-btn-group {
    margin-top: 5px;
}

.comment-reply {
    padding-left: 15px;
    margin-top: 16px;
    border-left: 1px solid #e5e5e5;
}

.comment-reply-to {
    color: #3498db;
}

.comment-reply-btn, .comment-vote-btn {
    line-height: 20px;
    font-size: 13px;
    color: #999;
    transition: all 0.2s ease;
    display: inline-block;
    margin-right: 5px;
}

.reply-cancel {
    border: 1px solid #e5e5e5;
    color: #999;
    opacity: 0.9;
    margin-left: 10px;
}

.comment-reply .comment-list {
    padding: 0;
}

.comment-reply .comment {
    margin-bottom: 12px;
}

.comment-more {
    border: 0;
    text-align: center;
    padding: 0 0 25px 0;
}

.comment-more-btn {
    font-size: 15px;
    line-height: 30px;
    color: #2784FC;
}

.user-comment__forbidden {
    display: none;
    position: fixed;
    margin: auto;
    top: 80px;
    left: 0;
    right: 0;
    width: 200px;
    padding: 20px;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 5px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    color: #fff;
    text-align: center;
    font-size: 14px;
    z-index: 100;
}

.user-comment-login-button {
    display: none;
}

@media (min-width: 768px) {
    .comment-container {
        margin-top: 40px;
        border-top: 1px solid #e5e5e5;
    }

    .user-comment {
        padding: 0;
        border: 0;
        font-size: 14px;
        line-height: 14px;
    }

    .user-comment__title {
        padding: 40px 0 20px;
    }

    .user-comment__title::after {
        content: none;
    }

    .user-comment-text, .user-reply-text {
        font-size: 16px;
    }

    .user-comment-submit {
        width: auto;
        line-height: 24px;
    }

}
