.page-breadcrumb {
    margin-bottom: 20px;
}

.page-breadcrumb__list {
    list-style: none;
    margin: 0;
    padding: 0;
    letter-spacing: -5px;
}

.page-breadcrumb__item {
    display: inline-block;
    vertical-align: top;
    letter-spacing: normal;
    margin: 0 5px;
}

.page-breadcrumb__item:before {
    content: "/";
    margin-right: 10px;
    color: #999;
}

.page-breadcrumb__item:first-child {
    margin-left: 0;
}

.page-breadcrumb__item:first-child:before {
    content: none;
}

.page-breadcrumb__link {
    color: #999;
}

.page-breadcrumb__item--active .page-breadcrumb__link {
    color: #333;
}

.page-breadcrumb__link:hover,
.page-breadcrumb__link:focus {
    text-decoration: none;
}
