.el-form-item .el-form-item {
    margin-bottom: 10px;
}

.component-editor {
    margin-left: 200px;
}

.component-editor__selected {
    border: 1px solid #3498db;
}

.page-editor-wrapper {
}

.page-editor-buttons {
    background: #f4f4f4;
    padding: 5px 10px;
}

.page-editor-buttons .el-form-item {
    margin-bottom: 0;
}

.page-editor-buttons .el-button {
    color: #333;
}

.page-editor-button .el-dropdown-menu,
.page-grid-editor__add .el-dropdown-menu {
    min-width: 150px;
    max-height: 240px;
    text-align: left;
    overflow: auto;
    white-space: nowrap;
}

.page-title {
    box-sizing: border-box;
}

.page-title__input {
    border-bottom: 3px double #e5e5e5;
    padding: 10px 0;
}

.page-title input {
    border: 0;
    padding: 0;
    line-height: 42px;
    font-size: 20px;
    color: #000;
}

.page-editor-pane {
    padding-top: 40px;
}

.toolbar-button {
    margin-right: 10px;
}

.toolbar-button:last-child {
    margin: 0;
}

.page-update-form {
    padding: 30px;
}

.page-update-form .el-form-item .el-cascader,
.page-update-form .el-form-item .el-select {
    width: 100%;
    display: block;
}

.page-update-form .el-tag-list .el-tag {
    height: 32px;
    line-height: 30px;
}

.page-update-form .el-tag-list .input-new-tag {
    height: 32px;
}

.page-update-form .el-tag-list .input-new-tag input {
    display: block;
    height: 32px;
    line-height: 30px;
}

.el-form-group__title {
    padding-left: 10px;
    border-left: 2px solid #3498db;
    margin: 10px 0 30px;
}

.el-form-group .el-select {
    width: 240px;
}

.el-input-group__prepend {
    width: 119px;
}

.el-input-group__prepend .el-select {
    width: auto;
}

.el-form-group .el-form-upload-button,
.el-form-group .el-form-upload-preview {
    width: 100%;
    vertical-align: top;
}

.el-form-upload-preview {
    display: inline-block;
    position: relative;
    cursor: pointer;
    background: #fff;
    border: 1px solid #e5e5e5;
    -webkit-appearance: none;
    text-align: center;
    box-sizing: border-box;
    outline: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    border-radius: 4px;
    margin-right: 10px;
    overflow: hidden;
}

.el-form-upload-preview img {
    display: block;
    max-width: 100%;
}

.el-form-upload-preview-delete-wrap {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
}

.el-form-upload-preview:hover .el-form-upload-preview-delete-wrap {
    display: block;
}

.el-form-upload-preview-delete {
    position: absolute;
    padding: 0;
    right: 6px;
    top: 6px;
    font-size: 8px;
    color: #fff;
}

.el-tabs__nav-wrap {
    overflow: visible;
}

.el-tabs__nav-scroll {
    overflow: visible;
}

.el-tabs__nav-scroll::before,
.el-tabs__nav-scroll::after {
    content: "";
    display: block;
    clear: both;
}

.el-tabs__active-bar {
    top: 0;
    bottom: auto;
    z-index: 10;
    right: -1px;
}

.no-locales .el-tabs__active-bar {
    display: none;
}

.el-tabs__item {
    min-width: 140px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 12px;
    border-radius: 0;
    border: 1px solid #e5e5e5;
    vertical-align: middle;
    margin-left: -1px;
}

.el-tabs__item.is-active {
    border-bottom-color: #fff;
}

.el-tabs__item.is-active:first-child {
    border-left-color: #fff;
}

.el-tabs__item .el-button {
    font-size: 20px;
    color: #999;
    width: 108px;
    height: 100%;
}

.el-tabs__item .el-button:hover {
    color: #3498db;
}

.page-component {
    position: relative;
    border: 0;
    margin-top: 15px;
    box-sizing: border-box;
    transition: border 0.4s ease;
    min-height: 24px;
}

.page-component:first-child {
    margin-top: 0;
}

.page-component:after {
    clear: both;
    content: '';
}

.page-component--html {
    min-height: 0;
    background: #fff;
}

.add-component {
    width: 100%;
    height: 100px;
    color: #999;
    background-color: #fafafa;
    border: 0;
    font-size: 30px;
}

.component-button {
    color: #000000;
    width: 100%;
    margin-bottom: 10px;
}

.add-component-dialog .el-dialog__footer {
    text-align: right
}

.component-type-container {
    max-height: 220px;
    overflow: auto;
    margin-top: 20px;
}

.component-selected {
    background-color: #D6EAF8;
    border-radius: 0;
}

.component-operations {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 3;
    border: 1px solid #e5e5e5;
    background: #eee;
    border-top: 0;
    opacity: 0;
    transition: opacity 0.2s ease;
}

.page-component:hover .component-operations {
    opacity: 1;
}

.component-operation {
    display: block;
    float: right;
    font-size: 20px;
    color: #999;
}

.component-operation:hover {
    color: #3498db;
}

.component-content .el-select {
    width: 240px;
    margin-right: 10px;
}

.component-content .el-button--text {
    margin: 0;
}

.component-content .el-button--text > span {
    padding: 0 15px;
}

.component-content .el-button--text + .el-button--text > span {
    border-left: 1px solid #e5e5e5;
}

.RichTextEditor__root___2QXK- {
    border: 0;
    transition: all 0.2s ease;
}

.RichTextEditor__editor___1QqIU {
    background: #fff;
}

.EditorToolbar__root___3_Aqz {
    padding: 0 0 30px;
    margin: 0;
    border: 0;
}

.DraftEditor-editorContainer {
    box-sizing: border-box;
    transition: height 0.2s ease;
}

.DraftEditor-editorContainer .public-DraftEditor-content {
    padding: 0;
}

.ButtonGroup__root___3lEAn {
    margin: 0 5px 0 0;
}

.component-code-container {
    position: relative;
    padding: 0;
    transition: all 0.2s ease;
    margin: 0 -15px;
}

.ReactCodeMirror {
    overflow: hidden;
}

.component-code-type-selector {
    position: absolute;
    bottom: 0;
    left: 90px;
    z-index: 100;
    opacity: 0.2;
    transition: all 0.2s ease;
}

.component-code-type-selector:hover {
    opacity: 1;
}

.component-code-container .CodeMirror {
    height: 296px;
    padding-bottom: 30px;
    box-sizing: border-box;
    transition: height 0.2s ease;
}

.page-file-browser .el-dialog {
    width: 80%;
    max-width: 860px;
    height: 80%;
    max-height: 560px;
}

.page-file-browser .el-dialog__footer {
    position: absolute;
    width: 100%;
    right: 0;
    bottom: 0;
}

.page-file-browser__container {
    overflow: hidden;
}

.page-file-browser__container::before,
.page-file-browser__container::after {
    content: "";
    display: block;
    clear: both;
}

.page-file-browser__directory {
    border-right: 1px solid #DDD;
}

.el-tree--highlight-current .el-tree-node.is-current > .el-tree-node__content {
    background: #fff;
    color: #3498db;
}

.page-file-browser__file {
    margin-left: 140px;
}

.page-file-browser__file-container {
}

.page-file-browser__file-item {
    position: relative;
}

.page-file-browser__file-preview {
    position: relative;
    padding-bottom: 64%;
    height: 0;
    cursor: pointer;
    border: 1px solid #e5e5e5;
}

.page-file-browser__file-image,
.page-file-browser__file-file {
    position: absolute;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.page-file-browser__file-file {
    height: 40px;
    font-size: 40px;
    text-align: center;
}

.page-file-browser__file-name {
    margin-top: 10px;
    font-size: 12px;
    color: #999;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.page-file-browser__file-checkbox {
    position: absolute;
    bottom: 0;
    left: 0;
}

.page-file-browser__file-checkbox .el-checkbox__label {
    display: none;
}

.page-file-browser__file-checkbox .el-checkbox__inner,
.page-file-browser__file-checkbox .el-checkbox__input.is-disabled .el-checkbox__inner {
    border: 0;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 0;
    width: 24px;
    height: 24px;
    cursor: pointer;
    vertical-align: top;
}

.page-file-browser__file-checkbox .el-checkbox__input.is-checked .el-checkbox__inner {
    background: rgba(0, 0, 0, 0.4);
}

.page-file-browser__file-checkbox .el-checkbox__inner:after {
    width: 6px;
    height: 12px;
    left: 9px;
    top: 3px;
}

.page-file-browser-uploader {
    text-align: initial;
    float: left;
}

.page-image-slider {
    transition: all 0.4s ease;
}

.page-image-slider__preview img {
    margin: auto;
    display: block;
    max-width: 100%;
    max-height: 100%;
}

.page-image__preview img {
    display: block;
    max-height: 100%;
    margin: auto;
    max-width: 100%;
}

.page-image__preview--mock {
    width: 60%;
    height: 200px;
    margin: auto;
    background: #fafafa;
}

.page-image-slider__toggle {
    position: absolute;
    top: -50px;
    left: 50%;
    z-index: 10;
    transform: translate3d(-50%, 0, 0);
    transition: all 0.4s ease;
}

.page-image-slider__preview:hover .page-image-slider__toggle {
    top: 10px;
}

.page-image-slider__preview-section {
    padding: 20px 30px;
}

.page-image__preview-section {
    padding: 20px 0;
}

.page-image__image-container,
.page-image-slider__image-container {
    position: relative;
    overflow: hidden;
    border: 1px solid #e5e5e5;
    transition: border 0.2s ease;
}

.page-image-slider__image-container--editing,
.page-image__image-container {
    border: 1px solid #3498db;
}

.page-image__image-preview,
.page-image-slider__image-preview {
    position: relative;
    padding-bottom: 64%;
    height: 0;
}

.page-image__image-preview img,
.page-image-slider__image-preview img {
    position: absolute;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.page-image__image-name,
.page-image-slider__image-name {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.3);
    color: #fff;
    line-height: 30px;
    height: 30px;
    font-size: 14px;
    transform: translate3d(0, 100%, 0);
    transition: all 0.4s ease;
    padding: 0 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.page-image__image-container:hover .page-image__image-name,
.page-image-slider__image-container:hover .page-image-slider__image-name {
    transform: translate3d(0, 0, 0);
}

.page-image__image-delete,
.page-image-slider__image-delete {
    position: absolute;
    right: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 0;
    color: #fff;
    transform: scale3d(0, 0, 1);
    transform-origin: right top;
    transition: all 0.4s ease;
}

.page-image__image-container:hover .page-image__image-delete,
.page-image-slider__image-container:hover .page-image-slider__image-delete {
    transform: scale3d(1, 1, 1);
}

.page-image-slider__image-add {
    position: relative;
    padding-bottom: 64%;
    height: 0;
}

.page-image-slider__image-add .page-file-browser__add-button {
    position: absolute;
    width: 100%;
    height: 100%;
    border: 1px solid #e5e5e5;
}

.page-image__editor {
    padding: 15px;
    background: #fff;
}

.page-image-slider-editor {
    background: #fafafa;
    padding: 30px;
}

.el-input.is-disabled .el-input__inner,
.el-textarea.is-disabled .el-textarea__inner {
    border: 1px solid #e5e5e5;
}

.layout-sections {
    border-top: 1px solid #e5e5e5;
    overflow: hidden;
    padding: 10px 0;
}

.layout-section__container::before,
.layout-section__container::after,
.layout-section-group::before,
.layout-section-group::after {
    content: "";
    display: block;
    clear: both;
}

.layout-section {
    position: relative;
    float: left;
    border: 1px solid #e5e5e5;
    transition: all 0.2s ease;
    box-sizing: border-box;
    background: #fff;
    margin-bottom: 20px;
}

.layout-section__header {
    min-height: 30px;
    text-align: right;
    padding: 0 20px;
    box-sizing: border-box;
    background: #f4f4f4;
    border-bottom: 1px solid #e5e5e5;
}

.layout-section__header-name {
    float: left;
    line-height: 44px;
}

.layout-section__header .el-dropdown {
    margin: 4px 0;
}

.layout-section__header .el-select > .el-input .el-input__inner {
    height: 23px;
    line-height: 21px;
}

.layout-section__header .el-button {
    color: #999;
    padding: 10px;
}

.layout-section__header-button,
.layout-section__header > .el-button {
    margin: 4px 0;
    vertical-align: top;
}

.layout-section__header-button.el-button--text + .layout-section__header-button.el-button--text {
    border: 0;
}

.layout-section__header .el-button .el-icon-fa {
    font-size: 16px !important;
}

.layout-section__header-button .el-icon-fa {
    letter-spacing: -5px;
}

.layout-section__header-button-divider {
    display: inline-block;
    width: 0;
    border-left: 1px solid #e5e5e5;
    height: 16px;
    margin: 14px 10px;
    vertical-align: top;
}

.layout-section__info-form {
    background: #fafafa;
    box-sizing: border-box;
    padding: 15px;
}

.layout-section__info-form .el-input {
    max-width: 193px;
}

.layout-section-group {
    padding: 10px;
    box-sizing: border-box;
}

.layout-section .el-form-item {
    margin-bottom: 10px;
}

.layout-section .page-editor {
    border: 0;
}

.layout-section__add-wrap {
    display: block;
    padding-top: 10px;
    clear: both;
}

.page-footer__title {
    margin-bottom: 15px;
    font-weight: 500;
}

.page-footer__description {
    line-height: 24px;
    opacity: 0.6;
}

.page-footer__container {
    padding: 20px;
}

.page-footer__link {
    margin-bottom: 10px;
}

.page-footer__link:first-child .page-footer__link-name {
    margin-left: -10px;
}

.page-footer__preview {
    font-size: 14px;
    line-height: 1;
    color: #666;
    background: #eee;
    text-align: center;
}

.page-footer-preview__links {
    letter-spacing: -5px;
    padding: 21px 0;
}

.page-footer-preview__link {
    display: inline-block;
    letter-spacing: normal;
    padding: 0 14px;
    color: #666;
    text-decoration: none;
    border-left: 1px solid #666;
}

.page-footer-preview__link:first-child {
    border: 0;
}

.page-footer-preview__copyright {
    padding: 50px 0;
    color: #666;
    border-top: 1px solid #e5e5e5;
}

.page-default-component {
    color: #666;
    background: #FFF;
}

.page-default-component--error {
    border: 2px solid #cd0000;
    color: #cd0000;
}

.page-default-component__name {
    text-align: left;
    height: 30px;
    line-height: 30px;
    padding: 0 20px;
    font-size: 20px;
}

.page-default-component__content {
    padding: 20px;
}

.page-default-component__line {
    width: 80%;
    height: 20px;
    background: #eee;
    margin-bottom: 14px;
}

.page-default-component__line--inline {
    display: inline-block;
    margin: 0 10px 14px;
}

.page-default-component__line--h1 {
    height: 30px;
}

.page-default-component__line--h2 {
    height: 24px;
}

.page-default-component__line--h3 {
    height: 20px;
}

.page-default-component__line--h4 {
    height: 18px;
}

.page-default-component__line--h5 {
    height: 16px;
}

.page-default-component__line--h6 {
    height: 14px;
}

.page-default-component__line--small {
    height: 12px;
}

.page-default-component__list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.page-default-component__item {
    border-bottom: 1px solid #e5e5e5;
}

.page-default-component__item:last-child {
    border-bottom: 0;
}

.page-default-component__image {
    float: left;
    width: 30%;
    height: 124px;
    background: #eee;
    margin: 20px;
}

.page-default-component__image > img {
    width: 100%;
    height: 100%;
}

.page-default-component__item--image .page-default-component__content {
    margin-left: 35%;
    min-height: 124px;
}

.page-author {
    text-align: center;
}

.page-author__head {
    width: 80px;
    height: 80px;
    border-radius: 40px;
    background: #eee;
    margin: auto;
}

.editor {
    box-sizing: border-box;
    border: 1px solid #ddd;
    cursor: text;
    padding: 16px;
    border-radius: 2px;
    margin-bottom: 2em;
    background: #fefefe;
}

.editor :global(.public-DraftEditor-content) {
    min-height: 140px;
}

.headlineButtonWrapper {
    display: inline-block;
}

.headlineButton {
    background: #fbfbfb;
    color: #888;
    font-size: 18px;
    border: 0;
    padding-top: 5px;
    vertical-align: bottom;
    height: 34px;
    width: 36px;
}

.headlineButton:hover,
.headlineButton:focus {
    background: #f3f3f3;
}

.draftJsToolbar__buttonWrapper__1Dmqh {
    display: inline-block;
}

.draftJsToolbar__button__qi1gf {
    background: #fbfbfb;
    color: #888;
    font-size: 18px;
    border: 0;
    padding-top: 5px;
    vertical-align: bottom;
    height: 34px;
    width: 36px;
}

.draftJsToolbar__button__qi1gf svg {
    fill: #888;
}

.draftJsToolbar__button__qi1gf:hover,
.draftJsToolbar__button__qi1gf:focus {
    background: #f3f3f3;
    outline: 0;
}

.draftJsToolbar__active__3qcpF {
    background: #efefef;
    color: #444;
}

.draftJsToolbar__active__3qcpF svg {
    fill: #444;
}

.draftJsToolbar__separator__3U7qt {
    display: inline-block;
    border-right: 1px solid #ddd;
    height: 24px;
    margin: 0 0.5em;
}

.draftJsToolbar__toolbar__dNtBH {
    border-bottom: 1px solid #ddd;
    background: #fff;
    border-radius: 2px;
    z-index: 2;
    box-sizing: border-box;
}

.draftJsToolbar__toolbar__dNtBH:after {
    border-color: rgba(255, 255, 255, 0);
    border-top-color: #fff;
    border-width: 4px;
    margin-left: -4px;
}

.draftJsToolbar__toolbar__dNtBH:before {
    border-color: rgba(221, 221, 221, 0);
    border-top-color: #ddd;
    border-width: 6px;
    margin-left: -6px;
}

.page-grid__list {
    white-space: nowrap;
    letter-spacing: -5px;
    overflow: auto;
}

.page-item-grids-preview__item {
    position: relative;
    display: inline-block;
    letter-spacing: normal;
    box-sizing: border-box;
    vertical-align: top;
    padding: 0 10px;
}

.page-item-grids-preview__item-image {
    display: block;
    width: 100%;
}

.page-grid__list .page-item-grids-preview__item {
    width: 100px;
    height: 90px;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
    margin-right: 15px;
}

.page-grid__list .page-item-grids-preview__item-image {
    max-height: 70px;
}

.page-item-grids-preview__item-name {
    text-align: center;
    height: 20px;
    line-height: 20px;
}

.page-item-grids-preview__item-add {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 30px;
    height: 30px;
    padding: 0;
    font-size: 20px;
    line-height: 30px;
    border: 0;
    text-align: center;
    color: #fff;
    background: #999;
    overflow: hidden;
    border-radius: 50%;
    transition: all 0.2s ease;
}

.page-item-grids-preview__item-add--hidden {
    opacity: 0;
}

.page-item-grids-preview__item > * {
    transition: all 0.2s ease;
}

.page-item-grids-preview__item-add:hover,
.page-item-grids-preview__item-add:active,
.page-item-grids-preview__item-add:focus {
    color: #fff;
}

.page-item-grids-preview__item--disable > *,
.page-item-grids-preview__item--editing > *,
.page-item-grids-preview__item:hover > * {
    opacity: 0.3;
}

.page-item-grids-preview__item--editing .page-item-grids-preview__item-add,
.page-item-grids-preview__item:hover .page-item-grids-preview__item-add {
    opacity: 1;
}

.page-item-grids__editor {
    padding-top: 10px;
}

.page-item-grids__editor-image {
    height: 80px;
    max-width: 90%;
}

.page-item-grids__editor-image-add {
    position: relative;
    margin-right: 20px;
    height: 80px;
    border: 1px solid #e5e5e5;
}

.page-item-grids-preview__list {
    overflow: hidden;
}

.page-item-grids-preview__list--nowrap {
    white-space: nowrap;
    overflow: scroll;
}

.el-message-box {
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.2);
}

.page-team-preview .page-item-grids-preview__list {
    white-space: nowrap;
    letter-spacing: -5px;
    overflow: auto;
}

.page-team-preview__item {
    position: relative;
    display: inline-block;
    letter-spacing: normal;
    width: 25%;
    padding: 0 10px;
    box-sizing: border-box;
    vertical-align: top;
    margin-right: 15px;
}

.page-contact__image-add {
    position: relative;
    width: 200px;
    height: 150px;
    overflow: hidden;
    border: 1px solid #e5e5e5;
    transition: border 0.2s ease;
}

.page-contact__image-add-btn {
    position: absolute;
    width: 100%;
    height: 100%;
}

.page-contact__map-preview {
    position: relative;
    width: 200px;
    height: 150px;
    overflow: hidden;
}

.page-contact__map-preview img {
    width: 100%;
    height: 100%;
}

.page-contact-preview {
    text-transform: capitalize;
}

.fas {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.react-mde {
    border: 0;
}

.mde-text {
    border-top: 1px double #e5e5e5;
    border-bottom: 1px double #e5e5e5;
}

.mde-preview {
    border-top: 1px solid #EEE;
    margin-top: 1px;
}

.mde-text {
    padding: 10px;
}