.content-table {

}

.content-table__list {
    margin: 0;
    padding-left: 15px;
}

.content-table__item {
    list-style: square;
    margin-bottom: 5px;
}

.content-table__item-link {
    text-decoration: none;
}

.content-table__item-link:hover {
    text-decoration: underline;
}