<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>404</title>
        <link rel="stylesheet" href="../static/css/error.css">
    </head>
    <body>
        <div class="page error-page__page">
            <div class="error-page__container">
                <div class="error-page__code">404</div>
                <p class="error-page__text" >Page Not Found</p>
                <a href="/" >
                    Return to home
                </a>
            </div>
        </div>
    </body>
</html>