.panel-default {
    border: 0;
    box-shadow: none;
}

.panel-default .panel-heading {
    background: none;
    border-bottom: 0;
}

.navbar-default {
    background: #FFF;
    border-bottom: 1px solid #DDD;
}

.footer {
    background: #f1f1f1;
}