<!doctype html>
<html lang="en-US" xmlns:j="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="user-username.css"/>
</head>
<body>
<div class="username" itemprop="author" itemscope itemtype="http://schema.org/Person">
    <div class="username__image" j:if="imageEnabled">
        <img class="username__image-image" j:src="user.imageURL" j:alt="user.nickname">
    </div>
    <div class="username__nickname" j:text="user.nickname" itemprop="name">nickname</div>
</div>
</body>
</html>