<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>403</title>
        <script type="text/javascript" src="../node_modules/jquery/dist/jquery.min.js"></script>
        <link rel="stylesheet" href="../static/css/error.css">
    </head>
    <body>
        <div class="page error-page__page">
            <div class="error-page__container">
                <div class="error-page__code">403</div>
                <p class="error-page__text" j:innerText="i18n('web.error.403',client.language())">You do not have permission to visit this page, please contact the administrator</p>
                <a href="/" j:innerText="i18n('web.error.return',client.language())">
                    Return to home
                </a>
            </div>
        </div>
    </body>
</html>