<!DOCTYPE html>
<html xmlns:j="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <link rel="stylesheet" href="login-form.css">
    <script src="login-form.js"></script>
</head>
<body>
<div class="form-container">
    <div class="user-login__logo">
        <img class="user-login__logo-image" j:src="app.imageURL()" alt="">
    </div>
    <form id="user-login-form" onsubmit="return false;" class="user-login__form">
        <div class="form-group">
            <input class="form-control input-lg" name="username" placeholder="Email">
        </div>
        <div class="form-group">
            <input class="form-control input-lg" type="password" name="password" placeholder="Password">
        </div>
        <j:captcha></j:captcha>
        <a class="btn btn-primary btn-submit user-login__button" id="submit" j:innerText="i18n('user.signIn',client.language())">Login in</a>
    </form>
    <div class="user-login__link-container">
        <a href="/user/password/forget" class="text-primary user-login__link" j:innerText="i18n('user.forgetYourPassword',client.language())">Forget Password?</a>
    </div>
    <div class="user-login__separator">
        <div class="user-login__separator-text">or</div>
    </div>

    <a class="btn btn-default user-login__button" href="/user/register" j:innerText="i18n('user.signUp',client.language())">Register</a>

    <div class="user-login__social">
        <a j:if="showGOOGLELink" href="/user/login/GOOGLE" class="user-login__social-link"><i class="fa fa-google-plus-square"></i></a>
        <a j:if="showFACEBOOKLink" href="/user/login/FACEBOOK" class="user-login__social-link"><i class="fa fa-facebook-square"></i></a>
        <!--<a href="" class="user-login__social-link"><i class="fa fa-twitter-square"></i></a>-->
        <!--<a href="" class="user-login__social-link"><i class="fa fa-github-square"></i></a>-->
    </div>
</div>

</body>
</html>