<!DOCTYPE html>
<html lang="en" xmlns:j="http://www.w3.org/1999/xhtml">
    <head>
        <link rel="stylesheet" href="page-footer.css">
    </head>
    <body>
        <div class="footer">
            <div class="container">
                <div class="footer__copyright" j:text="copyrights">Copyright</div>
                <div class="footer__link-list">
                    <a j:href="link.link" class="footer__link" j:for="link:links" j:text="link.displayName">Display Name</a>
                </div>
            </div>
        </div>
    </body>
</html>