.page-card {
    background: #fff;
    border: 1px solid #eee;
}

.page-card__header {
    padding: 5px 15px;
}

.page-card__title {
    display: inline-block;
    font-size: 1.2em;
    line-height: 1;
    padding: 10px 0;
    border-bottom: 4px solid #3498db;
    vertical-align: top;
}

.page-card__body {
    padding: 10px 15px;
}
