.user {
    text-align: center;
}

.user__avatar {
    margin-bottom: 15px;
}

.user__avatar-image {
    height: 80px;
    width: 80px;
    border-radius: 40px;
}

.user__nickname {
    display: block;
}