<!doctype html>
<html lang="en-US" xmlns:j="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="page-tag-cloud.css"/>

    <!-- build:js component/page-tag-cloud/page-tag-cloud.js-->
    <script type="text/javascript" src="jquery.tagcloud.js"></script>
    <script type="text/javascript" src="page-tag-cloud.js"></script>
    <!-- endbuild -->
</head>
<body>
<div class="panel panel-default page-tag-cloud">
    <div class="panel-heading" j:text="title">{{i18n('page.tagCloudTitle',client.language())}}</div>
    <div class="panel-body">
        <a j:href="tag.path == null? '/tag/' + tag.name : tag.path" class="page-tag-cloud__link" j:rel="tag.totalTagged" j:for="tag:tags" j:text="tag.name"></a>
    </div>
</div>
</body>
</html>