<!doctype html>
<html lang="en-US" xmlns:j="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title j:text="page.title">Page title</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/page/static/css/pure-min.css">
    <link rel="stylesheet" href="/page/static/css/grids-responsive-min.css">
    <link rel="stylesheet" href="/page/static/css/typo.css">
    <link rel="stylesheet" href="/page/static/css/iconfont.css">
    <link rel="stylesheet" href="/page/static/css/slick.css">
    <link rel="stylesheet" href="/page/static/css/main.css">
    <link rel="stylesheet" href="/page/static/css/header.css">

</head>
<body>
<layout/>
<script src="/page/static/js/jquery-1.12.4.min.js"></script>
<script src="/page/static/js/slick.min.js"></script>
<script src="/page/static/js/header.js"></script>
<script src="/page/static/js/index.js"></script>
</body>
</html>