body {
    padding-top: 70px;
}

body.fixed {
    height: 100%;
    overflow: hidden;
}

.header__avatar {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    vertical-align: top;
    margin-right: 10px;
}

.page-header__container:before,
.page-header__container:after {
    content: "";
    display: block;
    clear: both;
}

.page-header__logo-image {
    display: block;
    height: 50px;
    margin-right: 10px;
}

@media(min-width: 768px) {
    body {
        padding-top: 90px;
    }

}
