<!DOCTYPE html>
<html lang="en-US" xmlns:j="http://www.w3.org/1999/xhtml">
    <head>
        <link rel="stylesheet" href="file.list.css">
    </head>
    <body>
        <div class="file-breadscrumb">
            <div class="container">
                <ul class="file-breadscrumb__list">
                    <li class="file-breadscrumb__item">
                        <a href="/file/" class="file-breadscrumb__link" j:innerText="i18n('file.index')"></a>
                    </li>
                    <li class="file-breadscrumb__item" j:for="bread:breads">
                        <a j:href="'/file'+bread.path" class="file-breadscrumb__link" j:innerText="bread.displayName"></a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="file-toolbar">
            <div class="container">
                <div class="file-toolbar__form-container">
                    <form class="file-toolbar__form">
                        <div class="file-toolbar__form-item">
                            <i class="iconfont icon-search"></i>
                            <input type="text" j:value="query" class="file-toolbar__input">
                        </div>
                    </form>
                </div>
                <div class="file-toolbar__buttons" j:if="directory.roles.contains('CREATE')">
                    <j:directory></j:directory>
                    <j:uploader></j:uploader>
                </div>
            </div>
        </div>
        <div class="file-body">
            <input type="hidden" j:value="directory.id" id="directoryId">
            <input type="hidden" j:value="directory.roles" id="roles">
            <div class="container">
                <table class="file-table">
                    <thead class="file-table__head">
                        <tr class="file-table__row">
                            <th class="file-table__col" j:innerText="i18n('file.path')"></th>
                            <th class="file-table__col" j:innerText="i18n('file.lastModified')"></th>
                            <th class="file-table__col" j:innerText="i18n('file.description')"></th>
                            <th class="file-table__col" j:innerText="i18n('file.operation')"></th>
                            <th class="file-table__col" width="100"></th>
                        </tr>
                    </thead>
                    <tbody class="file-table__body">
                        <tr class="file-table__row" j:for="file:files.items">
                            <td class="file-table__col">
                                <a class="file-table__path" j:data-directory="file.isDirectory" href="#" j:innerText="file.path"></a>
                            </td>
                            <td class="file-table__col" j:innerText="file.updatedTime"></td>
                            <td class="file-table__col" j:innerText="file.description"></td>
                            <td class="file-table__col" j:innerText="file.updatedBy"></td>
                            <td>
                                <a j:if="directory.roles.contains('DELETE')" href="javascript:void(0)" j:data-directory="file.isDirectory"
                                        class="file__delete file__button file__button--text"
                                        j:data-id="file.id" j:innerText="i18n('file.delete')"></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <j:pagination j:items="files" j:path="fullPath"/>
            </div>
        </div>
        <script src="../../node_modules/jquery/dist/jquery.min.js"></script>
        <script src="../../static/js/file.list.js"></script>
    </body>
</html>