.related-list__list {
    list-style: none;
    padding: 0;
}

.related-list__item {
    padding: 15px 0;
}

.related-list__link {
    display: block;
    width: 100%;
    overflow: hidden;
    text-decoration: none;
}

.related-list__item-image {
    display: block;
    float: left;
    vertical-align: top;
    padding-right: 15px;
}

.related-list__item-image img {
    width: 100%;
    height: 100%;
    vertical-align: top;
}

.related-list__item-content {
    position: relative;
    display: block;
    vertical-align: top;
    overflow: hidden;
}

.related-list__item-title {
    font-size: 0.9em;
    line-height: 1.4;
    word-break: keep-all;
    width: 100%;
}

.related-list__item-title:hover {
    color: #3498db;
}

.related-list__item-summary {
    display: none;
    color: #999;
}

.related-list__item-author {
    font-size: 0.8em;
    line-height: 1;
    margin-top: 11px;
    color: #999;
}

.related-list__item-author-text {
    display: inline-block;
    vertical-align: middle;
}

.related-list__item-author-divider {
    display: inline-block;
    width: 0;
    height: 11px;
    border-left: 1px solid #999;
    vertical-align: bottom;
    margin: 0 5px;
}

@media (min-width: 768px) {
    .related-list__list {
        padding: 0;
    }

    .related-list__item {
        padding: 10px 0;
    }

    .related-list__item-image {
        padding-right: 20px;
    }

    .related-list__item-title {
        font-size: 0.9em;
        line-height: 1;
        margin-bottom: 6px;
    }

    .related-list__item-summary {
        display: block;
    }

    .related-list__item-author {
        left: 0;
        font-size: 0.9em;
        line-height: 1;
        height: 14px;
    }

    .related-list__item-author-divider {
        display: inline-block;
        width: 0;
        height: 14px;
        border-left: 1px solid #999;
        vertical-align: middle;
    }
}
