<!DOCTYPE html>
<html lang="en" xmlns:j="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="post-breadcrumb.css">
</head>
<body>
<div class="breadcrumb-list" j:if="!categories.isEmpty()">
    <ol class="breadcrumb" itemscope itemtype="http://schema.org/BreadcrumbList">
        <li class="breadcrumb__item" j:for="category:categories" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
            <a j:href="category.path" class="breadcrumb__link" itemprop="item" href="https://example.com/books">
                <span itemprop="name">{{category.displayName}}</span>
                <meta itemprop="position" j:content="$index+1"/>
            </a>
        </li>
    </ol>
</div>
</body>
</html>