.category-tree__list {
    padding: 0 0 0 15px;
    margin: 0;
}

.category-tree__body .category-tree__list {
    padding-left: 0;
}

.category-tree__item {
    line-height: 1em;
    height: 1em;
    margin-bottom: 5px;
}


