.pagination {
    padding: 20px 0;
}

.pagination__selector {
}

.pagination__pager {
}

.pagination__list {
    letter-spacing: -5px;
    white-space: nowrap;
    margin: 0;
    padding: 0;
}

.pagination__item {
    display: inline-block;
    font-size: 0.85em;
    line-height: 3;
    width: 36px;
    text-align: center;
    vertical-align: top;
    margin-right: 5px;
}

.pagination__link {
    display: block;
    color: #666;
    letter-spacing: normal;
}

.pagination__link--active,
.pagination__link:hover {
    color: #fff;
    background: #3498db;
}

.pagination__link--prev::before,
.pagination__link--next::before,
.pagination__link--first::before,
.pagination__link--last::before {
    font: normal normal normal 0.85em/3 FontAwesome;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    vertical-align: top;
}

.pagination__link--prev::before {
    content: "\f053";
}

.pagination__link--next::before {
    content: "\f054";
}

.pagination__link--first::before {
    content: "\f048";
}

.pagination__link--last::before {
    content: "\f051";
}
