<!DOCTYPE html>
<html lang="en" xmlns:j="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
        <link rel="stylesheet" type="text/css" href="category-page-list.css">
    </head>
    <body>

        <div class="component page-list">
            <div class="component__title" j:text="title" j:if="title != null">title</div>
            <div class="component__body">
                <ul class="page-list__list">
                    <li class="page-list__item" j:for="page:pages.items">
                        <div class="page-list__link" j:class="page.imageURL==null?'page-list__link--no-image':''">
                            <div class="page-list__item-content">
                                <a class="page-list__item-title" j:href="page.path" j:title="page.title">
                                    <h2 j:text="ellipsis(page.title, 50)">Title</h2>
                                </a>
                                <p class="page-list__item-summary" j:text="ellipsis(page.description, 100)">Description</p>
                                <div class="page-list__item-author">
                                    <span class="page-list__item-author-text"><j:username j:userId="page.userId"/></span>
                                    <div class="page-list__item-author-divider"></div>
                                    <span class="page-list__item-author-text" j:text="format(page.createdTime,'yyyy-MM-dd hh:mm')">X min</span>
                                </div>
                            </div>
                            <a j:href="page.path" class="page-list__item-image" j:if="page.imageURL!=null">
                                <img j:src="page.imageURL" j:alt="page.title">
                            </a>
                        </div>
                    </li>
                </ul>
                <j:pagination j:items="pages" j:path="path" j:display="display"></j:pagination>
            </div>
        </div>
    </body>
</html>