
.sited-file-uploader {
    position: fixed;
    width: 500px;
    height: 50px;
    bottom: 0;
    right: 38px;
    overflow: hidden;
    font-size: 14px;
    line-height: 1;
    background: #FFFFFF;
    box-shadow: 0 12px 12px 0 rgba(0, 0, 0, 0.06);
    transition: all 0.4s ease;
    transform: translate3d(0, 100%, 0);
}

.sited-file-uploader.expand {
    height: 436px;
}

.sited-file-uploader.show {
    bottom: 38px;
    transform: translate3d(0, 0, 0);
}

.sited-file-uploader__head {
    position: relative;
    line-height: 50px;
    height: 50px;
    overflow: hidden;
    padding: 0 20px;
    text-align: right;
    border-bottom: 1px solid #e8e8e8;
}

.sited-file-uploader__title {
    position: absolute;
    left: 20px;
    top: 0;
    text-align: left;
    color: #666;
    transition: all 0.2s ease 0.4s;
    transform: translate3d(0, 0, 0);
}

.expand .sited-file-uploader__title {
    transform: translate3d(0, -50%, 0);
}

.sited-file-uploader__head-button {
    display: inline-block;
    color: #666;
    text-decoration: none;
    padding: 0 15px;
}

.sited-file-uploader__toggle {
    transform: rotate3d(0, 0, 1, 180deg);
    transition: transform 0.4s ease 0.4s;
}

.expand .sited-file-uploader__toggle {
    transform: rotate3d(0, 0, 0, 0);
}

.sited-file-uploader__head .sited-file-uploader__close {
    margin-right: -15px;
}

.sited-file-uploader__body {
    position: relative;
    padding: 0 20px;
    border-bottom: 1px solid #e5e5e5;
    overflow: hidden;
}

.sited-file-uploader__message {
    height: 75px;
    padding: 31px 0 30px;
    color: #3498db;
    text-align: center;
}

.sited-file-uploader__message-inner {
    overflow: hidden;
    height: 14px;
}

.sited-file-uploader__message-inner-fail {
    transform: translate3d(0, -0, 0);
    transition: all 0.2s ease;
    background: #fff;
    color: #666;
}

.sited-file-uploader__message--success {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    padding: 114px 0 186px;
    background: #fff;
    transform: translate3d(0, -100%, 0);
    transition: all 0.2s ease;
    z-index: 10;
}

.sited-file-uploader__message--success.show {
    transform: translate3d(0, 0, 0);
}

.sited-file-uploader__message--success > .iconfont {
    font-size: 14px;
    color: #00de8b;
}

.sited-file-uploader__message-inner-fail > .iconfont {
    font-size: 14px;
    color: #ff6d2e;
}

.sited-file-uploader__message-inner-fail.show {
    transform: translate3d(0, -100%, 0);
}

.sited-file-uploader__table-body-container {
    position: relative;
    height: 195px;
    overflow: auto;
}

.sited-file-uploader__table {
    width: 100%;
    line-height: 43px;
    border-collapse: collapse;
}

.sited-file-uploader__table-head {
    background: #fafafa;
}

.sited-file-uploader__table-body {

}

.sited-file-uploader__row {
    position: relative;
    border-bottom: 1px solid #e5e5e5;
    height: 44px;
}

.sited-file-uploader__row-progress {
    display: block;
    position: absolute;
    background: #e7f0f7;
    height: 44px;
    left: 0;
    top: 0;
    width: 0;
    z-index: -1;
    transition: all 0.5s linear;
}

.sited-file-uploader__table-head .sited-file-uploader__row {
    border: 0;
}

.sited-file-uploader__col {
    max-width: 210px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0;
    /* height: 44px; */
    vertical-align: top;
}

.sited-file-uploader__status {

}

.sited-file-uploader__status .icon-zhengque {
    color: #00de8b;
}

.sited-file-uploader__status .icon-tishi {
    color: #ff6d2e;
}

.sited-file-uploader__foot {
    text-align: right;
    padding: 20px;
}

