<!DOCTYPE html>
<html xmlns:j="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <link rel="stylesheet" href="register-form.css">
    <script src="register-form.js"></script>
</head>
<body>
<div class="form-container">
    <input type="hidden" id="userNameStrategy" j:value="userNameStrategy">
    <div class="user-login__logo">
        <img class="user-login__logo-image" j:src="app.imageURL()" alt="">
    </div>
    <form id="user-register-form" onsubmit="return false;" class="user-login__form">
        <div class="form-group">
            <input class="form-control input-lg" name="username" placeholder="Email"
                    j:data-rule-needEmail="i18n('user.usernameNeedEmail',client.language())"
                    j:data-rule-needPhone="i18n('user.usernameNeedPhone',client.language())"
                    j:data-rule-needUsername="i18n('user.usernameNeedValid',client.language())"
                    j:data-rule-needEmailOrPhone="i18n('user.usernameNeedEmailOrPhone',client.language())"
            >
        </div>
        <div class="form-group">
            <input class="form-control input-lg" type="password" name="password" placeholder="Password"
                    j:data-rule-limit="i18n('user.passwordLimit',client.language())">
        </div>
        <div class="form-group form-group--pincode">
            <input class="form-control input-lg user-login__input--pincode" type="text" name="pinCode" placeholder="pincode"
                    j:data-rule-limit="i18n('user.user.pincode',client.language())">
            <a href="javascript:void(0)" class="user-login__pincode">发送</a>
            <span class="user-login__count-down" id="countDown" j:text="countDown"></span>
        </div>
        <a id="submit" class="btn btn-primary btn-submit user-login__button" j:text="i18n('user.signUp',client.language())">Register</a>
        <div class="user-login__separator">
            <div class="user-login__separator-text" j:text="i18n('user.or',client.language())">or</div>
        </div>
        <a class="btn btn-default user-login__button" href="/user/login" j:text="i18n('user.havingAccount',client.language())">Already have account</a>

    </form>
</div>

</body>
</html>