.page-list__item-image {
    display: inline-block;
    width: 121px;
    height: 75px;
    border: 1px solid #EEE;
}

.page-list__item-image > img {
    width: 100%;
}

.page-list__item-bottom > span {
    display: inline-block;
    font-size: 0.9em;
}
