
.page-rank__tabs {
    margin-top: 3px;
    line-height: 23px;
    text-align: center;
    color: #333;
    overflow: hidden;
}

.page-rank__tab {
    position: relative;
    float: left;
    width: 33.33%;
    padding: 17px 0;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    transition: all 0.2s ease;
    cursor: pointer;
}

.page-rank__tab::before,
.page-rank__tab::after {
    content: "";
    position: absolute;
    display: block;
    top: -2px;
    bottom: -2px;
    width: 1px;
    background: #e5e5e5;
}

.page-rank__tab::before {
    left: -1px;
}

.page-rank__tab::after {
    right: 0;
}

.page-rank__tab:hover,
.page-rank__tab.active {
    border-top: 4px solid #3498db;
    padding-top: 15px;
    border-bottom-color: #fff;
}

.page-rank__tab:hover::before,
.page-rank__tab.active::before,
.page-rank__tab:hover::after,
.page-rank__tab.active::after {
    content: none;
}

.page-rank__tabs:hover .page-rank__tab.active {
    border-top: 2px solid #e5e5e5;
    padding-top: 17px;
    border-bottom-color: #e5e5e5;
}

.page-rank__tabs:hover .page-rank__tab.active::before,
.page-rank__tabs:hover .page-rank__tab.active::after {
    content: "";
}

.page-rank__tabs:hover .page-rank__tab.active:hover {
    border-top: 4px solid #3498db;
    padding-top: 15px;
    border-bottom-color: #fff;
}

.page-rank__tabs:hover .page-rank__tab.active:hover::before,
.page-rank__tabs:hover .page-rank__tab.active:hover::after {
    content: none;
}

.page-rank {

}

.page-rank__list {
    display: none;
    padding: 0;
    counter-reset: rank;
}

.page-rank__list:first-child {
    display: block;
}

.page-rank__item {
    position: relative;
    padding: 9px 0 9px 46px;
}

.page-rank__item::before {
    content: counter(rank, decimal-leading-zero);
    position: absolute;
    counter-increment: rank;
    top: 9px;
    left: 0;
    color: #ccc;
    font-size: 1.8em;
}

.page-rank__item-link {
    display: block;
    color: #333;
}

.page-rank__item-title {
    line-height: 20px;
    overflow: hidden;
}

.page-rank__item-author {
    font-size: 11px;
    line-height: 15px;
    padding-top: 6px;
    color: #999;
}

@media (min-width: 768px) {
    .page-rank.fixed {
        position: fixed;
        top: 42px;
        right: 0;
    }

    .page-rank__title {
        margin-top: 20px;
        line-height: 20px;
        padding: 15px 0;
    }

    .page-rank__list {
        margin: 0;
        padding: 0;
    }

    .page-rank__item-author {
        font-size: 14px;
        line-height: 14px;
        padding-top: 0;
        margin-top: 10px;
    }

}