<!DOCTYPE html>
<html xmlns:j="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <link rel="stylesheet" href="reset-password-form.css">
    <script src="reset-password-form.js"></script>
</head>
<body>
<div class="form-container">
    <div class="user-login__logo">
        <img class="user-login__logo-image" j:src="app.imageURL()" alt="">
    </div>
    <div class="login-title" j:innerText="i18n('user.setPassword',client.language())"></div>
    <form onsubmit="return false;" class="user-login__form" id="user-reset-password-form">
        <div class="form-group">
            <input class="form-control input-lg" type="text" name="username" placeholder="Username">
        </div>
        <div class="form-group">
            <input class="form-control input-lg" type="text" name="pinCode" placeholder="Pin code">
        </div>
        <div class="form-group">
            <input class="form-control input-lg" type="password" name="password" placeholder="Password">
        </div>
        <div class="form-group">
            <input class="form-control input-lg" type="password" name="newPassword" placeholder="Password Again">
        </div>
        <a class="btn btn-primary btn-submit user-login__button" j:innerText="i18n('user.finish',client.language())"></a>
    </form>
</div>

</body>
</html>